
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  background-color: #f6f3ea;
  font-family:  Arial, Helvetica, sans-serif;
  color: #454545;
}

h1 {
    color: #f64639;
    font-size: 4rem;
    margin-bottom: 1rem;
}

section {
    padding-block: 4rem;
}

.diagonal {
    --skew-angle: -3deg;
    --background: linear-gradient(
                    45deg, 
                    #faf6f3, 
                    #faf6f3, 
                    #faf6f3
                  );
  
    position: relative;
    isolation: isolate;
  }
  
  .diagonal::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
  }
  
.wrapper {
    padding-inline: 0.5rem;
    padding-top: 2rem;
}

@media only screen and (min-width: 600px) {
    .wrapper {
        max-width: 900px;
        margin-left: 2rem;
    }
  }

a {
  background-color: transparent;
}


/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}


img {
  border-style: none;
  display: block;
  width: 100%;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}



/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}




.portfolio__header li {
    margin-bottom: 20px;
    font-size: 0.8rem; 
}

.portfolio__header strong {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  cursor: crosshair;
}
.portfolio__header strong:hover {
  color: #000;
}
.portfolio__header strong::before {
  content: "";
  position: absolute;
  display: block;
  width: 150%;
  height: 2px;
  top: 20px;
  left: 0;
  background-color: #333;

}
.portfolio__header strong::after {
  content: "";
  position: absolute;
  display: block;
  width: 150%;
  height: 2px;
  top: 20px;
  left: 0;
  background-color: #333;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.portfolio__header strong:hover::after {
  transform: scaleX(1);
  background-color: #fff;
  background-image: radial-gradient(#333, #333, white);
}